body {
  background-color: #0e2c2d;
}

.banner {
  background-size: cover;
  padding: 220px 0;
  height: 100vh;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.btn-ghost {
  color: white;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 65%;
}

.btn-ghost:hover {
  opacity: 0.7;
  color: white;
}

#center-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  max-width: 100%;
}

.info {
  padding: 85px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: -30px;
}

.card-product {
  overflow: hidden;
  height: 150px;
  line-height: 1;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 10px;
  border-radius: 7px;
  padding: 10px;
}

.card-block {
  height: 150px;
  display: flex;
  align-items: center;
  padding: 10px;
}


.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.scroll-down {
  position: absolute;
  top: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-angle-double-down {
  color: white!important;
  font-size: 22px;
}

.scroll-down p {
  color: white;
}

.card-product a {
  color: black;
}

@-webkit-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 1; }
  50.01% { opacity: 0; }
  100% { opacity: 0; }
}
@-moz-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 1; }
  50.01% { opacity: 0; }
  100% { opacity: 0; }
}
@-ms-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 1; }
  50.01% { opacity: 0; }
  100% { opacity: 0; }
}
@-o-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 1; }
  50.01% { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 1; }
  50.01% { opacity: 0; }
  100% { opacity: 0; }
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 30px;
  width: 60%;
  margin-bottom: 25px;
  padding-bottom: 10px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-btn {
  position: relative;
  left: 40%;
}

.about-me {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.about-me p {
  color: white;
  width: 60%;
}
