/*body {
  background-color: #0e3538;
}*/

.banner {
  padding: 220px 0;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.1), rgba(126, 128, 130, 0.3)), url('./images/background-5.jpg');
  background-size: cover;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.btn-ghost {
  color: cornflowerblue;
  border: 1px solid cornflowerblue;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  font-family: 'Poppins', sans-serif;
}

.btn-ghost:hover {
  opacity: 0.9;
  color: white;
  background-color: cornflowerblue;
}

#center-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  max-width: 100%;
  padding: 0px;
}

.info {
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info h2 {
  margin: 25px;
  color: cornflowerblue;
}
.cards {
  padding: 0px 60px 60px 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-product {
  overflow: hidden;
  height: 150px;
  line-height: 1;
  background: #f3f3f3;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 10px;
  border-radius: 7px;
  padding: 10px;
}

.card-block {
  height: 150px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.card-product p {
  font-size: 12px;
  opacity: .9;
  margin-bottom: 0;
  margin-top: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.card-product .card-product-infos {
  padding: 16px;
}

.scroll-down {
  position: absolute;
  top: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-angle-double-down {
  color: white!important;
  font-size: 22px;
}

.scroll-down p {
  color: white;
  font-family: 'Poppins', sans-serif;
}

.card-product a {
  color: black;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 25px;
}

.about-me h2 {
  color: cornflowerblue;
  margin-top: 20px
}

.about-me p {
  color: gray;
  width: 60%;
  font-size: 20px;
}

.content h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 60px;
}

.type {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-decoration: underline;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.3);
  padding: 15px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  margin-right: 10px;
}

.footer-links a:hover {
  color: cornflowerblue;
}

.scroll-down a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

h2 {
  color: white;
}

.contact-me h4 {
  color: white;
}

.top-half {
  background-color: whitesmoke;
}

.navbar {
  color: white;
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  padding-bottom: 0px;
}

.navbar a:hover {
  text-decoration: none;
  border-bottom: 1px solid cornflowerblue;
}

ul {
  list-style-type: none;
  display: flex;
  text-decoration: none;
}

li {
  margin: 10px;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: white;
  margin-bottom: 0px;
}

.anchor-one {
  display: block;
  height: 180px;
  margin-top: -180px;
  visibility: hidden;
}

.anchor-two {
  display: block;
  height: 63px;
  margin-top: -63px;
  visibility: hidden;
}

.anchor-three {
  display: block;
  height: 340px;
  margin-top: -340px;
  visibility: hidden;
}
